{% extends 'base.html' %}

{% block content %}


      <div class="card col-6" >
        <img src="{{movie.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{movie.genres}}</li>
          <li class="list-group-item">{{movie.popularity}}</li>
          <li class="list-group-item">{{movie.vote_average}} / {{movie.vote_count}}</li>
          <li class="list-group-item">{{movie.release_date}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'movies:index' %}" class="btn btn-warning">back</a>
        </div>
      </div>

  



{% endblock %}
