{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <div class="container">
    <div class="row">
      {% for movie in movies %}
        
        <div class="card col-4" style="width: 18rem;">
          <img src="{{ movie.poster_path }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">제목 : {{ movie.title }} </h5>
            <p class="card-text">평점 평균 : {{ movie.vote_average }}</p>
            <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">detail</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
